red = #FC3A51
orange = #F5B349
blue = #248F8D
black = #373737
dark = #000
light = #FAFAFA

*
  box-sizing border-box

html
body
  height 100%

body
  display flex
  flex-direction column
  justify-content center
  align-items center
  align-content center
  height 100%
  width 100%
  margin 0
  padding 0
  background-color #25232D

#world
  position relative
  top 0
  left 0
  width 100%
  height 100%
  margin 0
  padding 0
  z-index 0

.segments
  z-index 15
  position absolute
  top 15px
  left 15px
